:root{
    --color-orange: #ff7a00;
    --color-light-black: #bcbcbc;
    --color-very-light-black: #a2a2a2;
}

.start-btn{
    background-color: white;
    color: black;
    padding: 10px;
    padding-inline: 20px;
    border: none;
    font-weight: bold;
}

.circle{
    width: 300px;
    left: 100px;
    height: 300px;
    position: absolute;
    border: 35px solid rgb(84 84 84 / 40%);
    border-radius: 50%;
}

.small-circle{
    width: 200px;
    top: 200px;
    left: 250px;
    height: 200px;
    position: absolute;
    border: 25px solid rgb(84 84 84 / 40%);
    border-radius: 50%;
}

.main-container{
    background-color: black; 
    overflow-x: hidden;
    color: rgb(202, 202, 202);
}

.heading-orange{
    color: var(--color-orange);
}

.sub-heading{
    color: var(--color-light-black);
}

p{
    color: var(--color-very-light-black);
}